{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/student/attendance.css'%}">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Attendance Page</h1>
    </nav>
    
    <section>   
        <img src="{% url 'vidfeed' dept=dept div=div %}"/>
    </section>

    <div class="button-holder">
        <form action="" method="POST">
            {% csrf_token%}
            <input type="submit" value="Stop & Generate Report"/>
        </form>
    </div>

</body>
</html>