{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/student/loginrequire.css'%}">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Attendance Page</h1>
    </nav>
    
    <section>   
        <h2>Please Make Sure You Are logged in using Admin Credntials and Try Again</h2>
        <br />
        <a href="{% url 'studentregister'%}">Back to Home Page</a> <br />
        <a href="/admin">Admin Login</a>
    </section>

</body>
</html>